@model EquiposTecnicosSN.Entities.Equipos.Equipo

<div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-pencil fa-fw"></i> Notas</div>
    <div class="panel-body">
        @Html.TextAreaFor(model => model.Notas, htmlAttributes: new { @class = "form-control", rows = "5" })
    </div>
</div>
