 @model EquiposTecnicosSN.Entities.Equipos.Info.Ubicacion

<div class="panel panel-@(ViewBag.PanelStyle != null ? ViewBag.PanelStyle : "default")">
    <div class="panel-heading"><i class="fa fa-hospital-o fa-fw"></i> @ViewBag.Title</div>
    <div class="panel-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </label>
                    <p class="form-control-static">
                        @Html.DisplayFor(model => model.Nombre)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
