<!-- GRAFICOS -->
<div class="row" style="margin-bottom: 5px;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart fa-fw"></i> Gr&aacute;ficos
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <div class="btn-group btn-group-justified" role="group">
                            <a href="#" data-nqn-indicador="TI" id="TIChart" class="btn btn-info">Tiempo de Indisponibilidad (TI)</a>
                            <a href="#" data-nqn-indicador="TMPR" id="TMPRChart" class="btn btn-info">Tiempo Medio Para Reparar (TMPR)</a>
                            <a href="#" data-nqn-indicador="TMEF" id="TMEFChart" class="btn btn-info">Tiempo Medio Entre Fallas (TMEF)</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id='ParetoChartContainer'></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
